body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

#wbdv-page-container {
    padding-top: 20px;
    color: #580094;
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    background-color: #F3EBF6;
    padding-bottom: 20px;
}

#wbdv-top-nav {
    padding-top: 20px;
    color: #580094;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 30px;
    background-color: white;
    padding-bottom: 20px;
}

#wbdv-page-link {
    padding-top: 20px;
    color: #580094;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 20px;
}

#wbdv-page-text {
    padding-bottom: 20px;
    color: #580094;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    padding-bottom: 20px;
}

.ion-icon {
    color: #580094;
    font-size: 32px;
}

.ion-icon2 {
    color: #580094;
    font-size: 64px;
}

#wbdv-update-button {
    text-align: center;
    align: center;
}

.wbdv-search-button {
    text-align: center;
    align: center;
}


.log {
    padding-top: 20px;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    background-color: #781bba;
    padding-bottom: 20px;

}

.sign {
    padding-top: 20px;
    padding-bottom: 20px;

    color: #580094;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
}

.preview {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #781bba;
    font-family: 'Ubuntu', sans-serif;

}

.entry {

    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}

.ion-icon {
    color: #580094;
    font-size: 32px;
}

.ion-icon2 {
    color: #580094;
    font-size: 64px;
}


/**/

#wbdv-module-list-container {
    background: #781bba;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wbdv-module-list-item {
    margin: 10px 0 10px 0;
    background: #580094;

}

#wbdv-widget-container {
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;

}


.wbdv-widget-image {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}


.wbdv-widget {
    border: solid #580094 1px;
    margin: 0 auto;
    background: #F3EBF6;
    padding-top: 20px;
    padding-bottom: 20px;

}


.wbdv-topic-link {
    background: #580094;
    navbutton_background_color: #580094;
    color: white;
    border: solid white 1px;
}

.wbdv-lesson-link {
    background: white;
    navbutton_background_color: white;
    color: #580094;
    border: solid white 1px;
}

.wbdv-widget-select-widget-type {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}

.wbdv-heading-widget-select-size {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;

}